@import "../variables.scss";
.high-rank {
    background-color: $accent-primary;
    color: $light;
}

.medium-rank {
    background-color: $secondary;
    color: $light;
}

.low-rank {
    background-color:$primary;
    color: $light;
}