@import "../variables.scss";

.table-low-rank {
    background-color: $table-low;
    color: white;
}
.table-mid-rank {
    background-color: $table-mid;
}
.table-high-rank {
    background-color: $table-high;
}
.compare-high {
    background-color: $table-high;
}
.compare-equal {
    background-color: $table-mid-alt;
}
.compare-mid {
    background-color: $table-mid;
}
.compare-low {
    background-color: $table-low;
    color: white;
}