@import "../../assets/styles/variables.scss";

.HomeWrapper {
    height: 91%;
    font-family: Dosis;
    width: 100%;
    display: flex;
    flex-direction: row;
    .HeroSection {
        width: 50%;
        .HeroImage {
            height: 100%;
            object-fit: cover;
        }
    }
    .HeaderSection {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 3rem;
        gap: 1rem;
        background-color: $primary;
        width: 50%;

        .Header{
            color: $accent-secondary;
            font-size: 7rem;
            font-weight: 400;
        }
        .Description {
            color: $accent-secondary;
            font-size: 3rem;
            font-weight: 100;
        }
    }
    .ButtonContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: start;
    }
}