@import "./reset.scss";
@import "./variables.scss";
@import "./components/buttons.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0;
    padding: 0;
}