@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import "./reset.scss";
@import "./variables.scss";
@import "./components/buttons.scss";
@import "./components/tables.scss";
@import "./components/alerts.scss";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/svg/homeBackground.svg'); // Reference the SVG file here
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
}

// Apply the dynamic viewport height for modern browsers and iOS
html {
    --vh: 1vh; // Fallback value
}

#root {
    display: flex;
    flex-direction: column;
    min-height: calc(var(--vh, 1vh) * 100); /* Ensure full viewport height */
}

// very specific case for compare table overflowing.
.ag-header-cell-comp-wrapper {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflowed text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) to overflowed text */
}
