$light: rgb(255, 255, 255);
$dark: #0d0d0e;

$primary: #001F54;
$secondary: #034078;
$accent-primary: #1282A2;
$accent-secondary: #FEFCFB;

$table-low: #3C1642;
$table-mid: #1DD3B0;
$table-mid-alt: #dcdcdc; 
$table-high:#6afc41;

$border-radius: 10px;

$button-padding:0.1rem 0.2rem;

$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;