$bg-light: rgb(255, 255, 255);
$bg-dark: rgb(0, 5, 21);

$primary: rgb(30, 117, 2);
$primary-light:rgb(30, 180, 2);

$secondary: rgb(236, 255, 230);
$accent-primary: rgb(255, 170, 170);
$accent-secondary: rgb(255, 119, 119);
$border-radius: 10px;

$button-padding:0.1rem 0.2rem;