$light: rgb(255, 255, 255);
$dark: rgb(0, 5, 21);

$primary: rgb(7, 25, 82);
$secondary: rgb(8, 131, 149);
$accent-primary: rgb(55, 183, 195);
$accent-secondary: rgb(235, 244, 246);
$border-radius: 10px;

$button-padding:0.1rem 0.2rem;