@import "../../../assets/styles/variables.scss";
.NavWrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    .NavContainer{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .NavBrand {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        color: $dark;
        font-size: 1.8rem;
        font-weight: 500;
        @media(min-width:$breakpoint-xs) {
            font-size: 1.5rem;
        }
    }
}
.NavLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark;
    font-size: 1rem;
    font-weight: 200;
    @media(min-width:$breakpoint-xs) {
        font-size: 2rem;
    }
    @media(min-width:$breakpoint-lg) {
        font-size: 1rem;
    }

    .NavIcon {
        width: 15px;
        display: inline-block;
        text-align: center;
        margin: 12px;
        @media(min-width:$breakpoint-xs) {
            margin: 15px 10px;
            visibility: hidden;
        }
        @media(min-width:$breakpoint-lg) {
            margin: 5px 12px;
            visibility: visible;
        }
    }
    .NavArrowIcon {
        @media(min-width:$breakpoint-xs) {
            width: 10px;
            margin: 5px 10%;
        }
        @media(min-width:$breakpoint-lg) {
            visibility: hidden;
        }
    }
}