@import "../../assets/styles/variables.scss";
.NavWrapper{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $accent-secondary;
}

.SmallNavLinks {
    color: $primary;
    font-size: 1.3rem;
    font-weight: 200;
}
.SmallNavBrand {
    color: $primary;
    font-size: 1.8rem;
    font-weight: 400;
}
