@import "../../assets/styles/variables.scss";
.NavWrapper{
    height: 5%;
    display: flex;
    align-items: center;
    background-color: $secondary;
}

.SmallNavLinks {
    font-size: 1rem;
}
.SmallNavBrand {
    font-size: 1.2rem;
}
