@import "../../assets/styles/variables.scss";
.NavWrapper{
    width: 100%;
    background-color: $accent-secondary;
    padding: 0;
    .NavBrand {
        color: $primary;
        font-size: 1.8rem;
        font-weight: 300;
        @media(min-width:$breakpoint-xs) {
            font-size: 1.5rem;
        }
    }
    
    .NavLink {
        color: $primary;
        font-size: 1rem;
        font-weight: 200;
        @media(min-width:$breakpoint-xs) {
            font-size: 1rem;
        }

        .NavIcon {
            width: 20px;
            display: inline-block;
            text-align: center;
            margin-right: 12px;
        }
    }

}



